.rating-stars__item
{
    position: relative;

    display: inline-block;

    box-sizing: content-box;
    width: 13px;
    height: 13px;

    vertical-align: middle;

    /**
     * Вместо margin-right: 1px используется прозрачная правая граница,
     * чтобы не мелькали звёзды при их переключении
     */
    border-right: 1px solid transparent;
}

.rating-stars__item:last-of-type
{
    border-right-width: 0;
}

.rating-stars__item:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 50%;

    content: none;
}

